.details {
    width: 100%;
    min-width: 260px;
    height: fit-content;
    margin: 0 auto;
    background-color: var(--tertiary);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.details summary {
    background-color: var(--secondary);
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
    padding: 0 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.details summary .rotateSvg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.content {
    padding: 15px;
    font-size: calc(1rem + 1vw);
    list-style-position: inside;
    list-style-type: none;
}