.hostingCard {
    background: var(--linear), var(--secondary);
    min-width: 240px;
    height: 280px;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    text-decoration: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.hostingCard h2 {
    font-size: 24px;
    color: var(--primary);
    font-weight: normal;
}