.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    font-size: 24px;
}

.nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.link {
    text-transform: uppercase;
    text-decoration: none;

    color: var(--secondary);
}

.activeLink {
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--secondary);
}

.fill {
    fill : var(--secondary);
}