.footer {
    width: 100%;
    background: var(--bgFooter);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 24px;
}

.footer svg {
    fill : var(--primary);
    margin: 0 auto;
    width: 100%;
    min-width: 150px;
}

.footer a {
    display: flex;
    flex-direction: row;
}

.p {
    color: var(--primary);
}